/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    padding-top:80px;
}

.logo{
    width:80px;
    height: 40px;
}

#dropdown01{
    cursor: pointer;
}